* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    color: white;
}

.hero {
    width: full;
    background-image: url("bg-light.svg ");
    background-position: 0 -162px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 4.1rem;
}

nav {
    position: fixed;
    width: 100%;
    max-width: 66rem;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 0rem;
    margin: 0px auto;
    /* background: yellow; */
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

nav .nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10.5rem;
    /* background: #f008; */
}

nav .logo-section {
    display: flex;
    color: white;
}

nav svg {
    width: 104px;
    height: 24;
    fill: white;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

nav ul li {
    list-style: none;
    font-size: 0.92rem;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.25rem 0.7rem;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: background-color 0.2s ease;
}

nav ul li a:focus {
    outline: green;
}

nav ul li a:hover {
    background-color: #cfcfcf1c;
}

nav .nav-right {
    width: full;
    display: flex;
    align-items: center;
    justify-content: end;
}

nav .nav-right .button-container {
    display: flex;
    align-items: center;
}

nav .button-container {
    display: flex;
    align-items: center;
    gap: 0.55rem;
    /* background: #c91313; */
}

nav .nav-right {
    font-size: 15px;
    font-weight: 500;
}

nav .nav-right .button-container :nth-child(1) {
    background: #fafafa09;
    border-radius: 20px;
    padding: 9px 0.75rem;
    color: white;
    cursor: pointer;
    line-height: 1rem;
}

.button-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    color: black;
    border-radius: 20px;
    padding: 6.5px 0.75rem;
    cursor: pointer;
    border: 1px solid white;
}

.button-primary:hover {
    background: rgb(240, 240, 240);
}

.hero-badge {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    background: rgba(36, 36, 36, 0.259);
    margin: 0 auto;
    border-radius: 20px;
    padding: 0.25rem;
    margin-top: 30px;
}

.new-badge {
    background: #0C8C5E;
    padding: 0.25rem 7.5px;
    border-radius: 10px;
    font-size: 11.8px;
    font-weight: 600;
}

.hero-badge p {
    font-weight: 500;
    font-size: 0.87rem;
}

.right-arrow {
    width: fit;
    padding: 1px;
    margin-right: 4px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow svg {
    width: 12px;
    height: 12px;
    aspect-ratio: 1 1;
    stroke: black;
}

.hero-text-container {
    width: full;
    max-width: 43rem;
    margin: 0 auto;
    padding-top: 2.85rem;
    text-align: center;
}

.hero-text-container h1 {
    letter-spacing: -.02em;
    font-size: max(2.5rem, min(4vw, 4rem));
    font-weight: 600;
    --tw-leading: 115%;
    line-height: 114%;
}

.hero-text-container p {
    max-width: 30rem;
    font-size: 1.12rem;
    margin: 0 auto;
    margin-top: 1.55rem;
    line-height: 150%;
}

.hero-input-container {
    width: 22.5rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #adadad2a;
    color: white;
    padding: 0.3rem;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.254);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.302);
}

.hero-input-container input {
    width: full;
    height: 32px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    padding: 0rem 0.7rem;
    outline: none;
    color: white;
    font-weight: 500;
}

.hero-input-container input::placeholder {
    color: rgba(255, 255, 255, 0.462);
}

.hero-input-container button {
    font-size: 0.93rem;
    font-weight: 500;
    padding:  6px 0.75rem;
    padding-inline: 0.75rem;
}

.hero-image-container {
    width: full;
    overflow: hidden;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image-container img {
    width: full;
    /* padding: 5px; */
    height: auto;
    border-radius: 1.5rem;
    border: 3px solid lab(0% 0 0 / 0.05);
}

.brands {
    color: black;
}

.brands-section {
    padding: 0 8rem;
    padding-top: 4.5rem;
    padding-bottom: 9rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brands {
    display: grid;
    max-width: full;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    row-gap: 0.75rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /* gap: 0.5rem; */
    /* align-items: center; */
}

.svg-wraper {
    height: 80px;
    width: 258px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: gray; */
}


/* Show case section  */

.show-case-section {
    color: black;
    margin-top: 2.5rem;
    margin-bottom: 9.5rem;
}

.show-case-top-section h1 {
    text-align: center;
    letter-spacing: 110%;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -.02em;
    font-size: max(1.75rem, min(4vw, 2.5rem));
}

.show-case-top-section p {
    max-width: 600px;
    text-align: center;
    margin: 1rem auto;
    line-height: 150%;
    color: #222;
}

.cards {
    width: full;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    /* padding: 0 23%; */
    /* background: #4445; */
  }
  
  /* Mobile first (1 card per row) */
  .cards {
    grid-template-columns: 1fr;
  padding: 0 1rem; /* small screen spacing */
  }
  
  /* Large screens */
  @media (min-width: 1024px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 23%;
    }
  
    .card--full {
      grid-column: 1 / -1; /* takes full width */
    }
  }
  
  .card {
    padding: 1.75rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 1.25rem;
    min-height: 450px;
  }

  .card img {
    width: 100%;
    aspect-ratio: 3/2;
    max-height: 500px;
    border-radius: 1.5rem;
    margin-top: 2rem;
    object-fit: cover;
  }
  
  .card span {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: lab(51.3415% -41.5657 15.3527);
  }
  
  .card h2 {
    margin: 1rem 0;
    font-weight: 500;
  }
  
  .card p {
    max-width: 450px;
    line-height: 1.5;
    color: #2a2a2a;
  }
  
  .card--full {
    text-align: center;
  }
  
  .card--full p {
    margin: 0 auto;
  }
  
  .card-media {
    height: 250px;
    margin-top: 2rem;
    /* background: rgba(128, 128, 128, 0.45); */
    border-radius: 20px;
  }
  
  .brand-info-section {
    background: #F7F7F7;
    min-height: 100vh;
    color: black;
    padding-top: 5rem;
}

.brand-info-section .top {
    height: fit;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 64rem;
    margin: 0 auto;
  }

  .brand-info-section .left {
    max-width: 40rem;
    font-weight: 500;
  }

  .brand-info-section .left span {
    color: lab(51.3415% -41.5657 15.3527);
    text-transform: uppercase;
    font-size: 0.75rem;
}

  .brand-info-section .left h3 {
    max-width: 28rem;
    margin: 1rem 0;
    font-size: max(1.75rem, min(3vw, 2.35rem));
  }

  .brand-info-section .left p {
    color: #555;
  }

  .brand-info-section .right button {
    background: #000;
    padding: 0.65rem 1.75rem;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 30px;
  }

  .brand-info-section .middle {
    max-width: 40em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .middle .card {
    min-width: 530px;
    border: none;
  }

  .middle .card svg {
    width: 30px;
  }